@font-face {
  font-family: "WalsheimRegular";
  src: url('../fonts/gt-walsheim-web.ttf') format("truetype");
  src: local('../fonts/gt-walsheim-web.ttf') format("truetype");
}
@font-face {
  font-family: "WalsheimBold";
  src: url('../fonts/gt-walsheim-bold-web.ttf') format("truetype");
  src: local('../fonts/gt-walsheim-bold-web.ttf') format("truetype");
}

body {
	font-family: "WalsheimRegular",Helvetica Neue,sans-serif;
	color: rgb(48, 30, 62);
}

body a {
	text-decoration: none;
}

body h1 {
	color: rgb(230, 56, 50);
}

form {
  color: rgb(243, 179, 180);
}

.white {
  background-color: rgb(255, 255, 255);
}

.peach {
  background-color: rgb(249, 218, 201);
}

.hide {
  display: none;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px dotted rgb(230, 46, 37);
    margin-left: 8px;
    width: 200px;
    color: rgb(230, 46, 37);
}

select, #id_weight {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   border-top:    none;
   border-right:  none;
   border-bottom: 1px dotted rgb(230, 46, 37);
   color: rgb(230, 46, 37);
   border-left:   none;
   border-image: none;
   border-radius: 0px;
   width: 200px;
   background: none;
   text-align-last:center;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*.flex-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.flex-item {
  align-self: flex-start;
  width: 500px;
}*/

.ollie-button {
  color: white;
  background-color: rgb(230, 56, 50);
  border-radius: 25px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 2.5rem;
  font-size: 1rem;
  line-height: 1.25;
  transition: all .15s ease-in-out
}

.ollie-button:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(230, 46, 37);
}

.purple {
  color: rgb(48, 30, 62);
}

h2.purple {
  font-size: 60px;
  color: rgb(48, 30, 62);
}