{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/intakeform.css' %}">
        <title>Ollie Intake Form</title>
    </head>
    <body class="{% if bkgdcolor %}{{ bkgdcolor }}{% else %}'white'{% endif %}">
        <div class="page-header">
            <a href="/"><h1>OLLIE</h1></a>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">logout</a>
              <!-- if pet exists, show pet and link to edit; else link to add pet -->
            {% else %}
              <a href="{% url 'login' %}">Log In</a> / <a href="{% url 'signup' %}">START TRIAL</a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>